<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ile-apaindegiaren Kudeatzailea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h1>Ongi etorri</h1>
    <p>Ile-apaindegiaren Kudeaketa Sistema</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let menu of menuItems">
        <ion-card button [routerLink]="menu.route">
          <div class="menu-icon-container">
            <ion-icon [name]="menu.icon" class="menu-icon"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-title class="ion-text-center">{{ menu.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ion-text color="medium">{{ menu.description }}</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
